.aside-menu__header{
    display: flex;
}

aside{
    background-color: rgb(255, 255, 255);
    padding: 15px;
}

.aside-menu__item{
    display: flex;
}
.aside-menu__item-icon{
    margin-right: 5px;
}