.aside-menu__header{
    display: flex;
}
.user{
    
    width:100px;
}
aside{
    background-color: rgb(255, 255, 255);
    padding: 15px;
}
.aside-menu{
    max-width:150px;
    border-right: 1px solid rgb(125, 125, 125);
}

.aside-menu__item{
    display: flex;
}
.aside-menu__item-icon{
    margin-right: 5px;
}